{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="base">
<div class ="content">
    <div class="write tab-content"> 
        <form method="POST" id="note-form" class="form-100">
         
          <div class="input-grid">
            <input type="text" name="note" id="note" placeholder="Title:">    
            <input type="date" name="date" id="date">
            <input type="text" name="body" id="body" placeholder="Write your memories here...">
            <div class="more">
            <input type="checkbox" class="heart-checkbox"  name="remember" id="favorite" >
            <label class="shape" for="favorite">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path  stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path  class="path" d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                </svg>
              </label>
              <button class="submit-button" form="note-form" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <line x1="12" y1="5" x2="12" y2="19" />
                  <line x1="5" y1="12" x2="19" y2="12" />
                </svg>
              </button>
              <br/>
          </div>
          </div>
          
        </form>
    </div>
    

    <div class="view tab-content is-active">
    
      <form class="sort" action="{{url_for('views.sort')}}" method="POST"  >
        <select name="sort" id="sort" onchange="this.form.submit()">
          {% if sort == False  %}
          <option value="{{False}}" selected>False</option>
          <option value ="{{True}}">True</option>
          <option value ="{{All}}" >All</option>
          {% elif sort == True %}
          <option value="{{False}}">False</option>
          <option value ="{{True}}" selected>True</option>
          <option value ="{{All}}">All</option>
          {% else %}
          <option value="{{False}}">False</option>
          <option value ="{{True}}">True</option>cccxcx
          <option value ="{{All}}"  selected>All</option>
          {% endif %}
        </select>
        
      </form> 

        <ul class="note-list line" id="notes">
          {% for note in user.notes%}
            {% if note.remember == sort or (sort != True and sort != False) %}
            

              <li class="list-element" > 
                <div class="favorite" >
                  <form  action="{{url_for('views.favorite', noteid=note.id)}}" method="POST" name="heart">
                    {% if note.remember == True or heart == True %}
                    <input type="checkbox" checked class="heart-checkbox"  name="remember" id="favorite"  >
                    {% else %}
                    <input type="checkbox" class="heart-checkbox"  name="remember" id="favorite" >
                    {% endif %}
                    <button class="shape" for="favorite"  onclick="this.form.submit()" >
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path  stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path  class="path" d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                      </svg>
                    </button> 
                  </form>
                </div>
                <div class="list-element-grid"> 
                  <div class="title">{{note.data[:30]}}</div>
                  <p class="text-body"> {{note.body[:30]}} </p>
                </div>
                <div class="list-element-flex">
                  <div class="date"> {{note.date}}</div>
                 

                
                
                  <button type="button" class="button-delete" onClick="deleteNote({{ note.id }})">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width54s="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <line x1="18" y1="6" x2="6" y2="18" />
                      <line x1="6" y1="6" x2="18" y2="18" />
                    </svg>
                  </button>

                
                
                <form action="{{url_for('views.entry', noteid=note.id)}}" method="POST" id="view-note" name="one">
                  <button onsubmit="this.form.submit()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-right" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <line x1="13" y1="18" x2="19" y2="12" />
                      <line x1="13" y1="6" x2="19" y2="12" />
                    </svg>
                  </button>
                </form>
              </div>
              

              </li>
            
            {% endif %}  
          {% endfor %}

          


         
        </ul>
    </div>
    <div class="connection tab-content">
      
    </div>
    <div class="setting tab-content">
        
    </div>
    <div class="share tab-content">
        
    </div>
  </div>
  <div class="display-entry">


  <div class="note-view">

    {% for note in user.notes %}
    {% if note.selected == true %}
    <div class="list-element-grid"> 
      <div class="view-title">{{note.data}}</div>
      <div class="view-date">{{note.date}}</div>
      <p class="view-text-body"> {{note.body}} </p>
    </div>
    {% endif %}
    
    {% endfor %}


  </div>

  </div>
  <div class="tab-list">
      
      <div id="write" class="tab" href="">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
          <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
        </svg>
      </div>
       <div id="view" class="tab is-active">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler cdicon-tabler-notebook" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M6 4h11a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-11a1 1 0 0 1 -1 -1v-14a1 1 0 0 1 1 -1m3 0v18" />
          <line x1="13" y1="8" x2="15" y2="8" />
          <line x1="13" y1="12" x2="15" y2="12" />
        </svg>
      </div>
  </div>
</div>



{% endblock %}