{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}



<h1>Notes</h1>
<div class="base">
    

    <div class="tab-list">
        <div id="write" class="tab">
            Write
          </div>
           <div id="view" class="tab is-active">
             View
          </div>
          <div id="connection" class="tab">
            Connections
          </div>
          <div id="settings" class="tab">
            Settings
          </div>
          <div id="share" class="tab">
            Share
          </div>
    </div>


    
    <div class="write tab-content">
        <form method="POST">
            <input type="text" name="note" id = "note" >

            <input type="date" name="date" id="date">
            <input type="text" name="body" id="body">
            <br/>
            <div allign="center">
                <button type="submit">Add Note</button>
            </div>
        </form>
    </div>


    <div class="view tab-content is-active">
        <div class="sort">  


        </div>

        <ul class="note-list" id="notes">
            {% for note in user.notes%}
            <li class="list-element">
                <div class="title">{{note.data}}</div>
                <div class="date"> {{note.date}}</div>
                <p class="text-body"> {{note.body}} </p>
                <button type="button" class="button-delete" onClick="deleteNote({{ note.id }})"><span aria-hidden="true">&times;</span></button>
            </li>
            {% endfor %}
        </ul>
    </div>

    
    <div class="connection tab-content">
        
    </div>
    <div class="setting tab-content">
        
    </div>
    <div class="share tab-content">
        
    </div>
</div>

{% endblock %}