:root {
    --white: rgb(240, 240, 240);
    --bwhite: rgb(252, 252, 252);
    --black: rgb(23, 23, 23);
    --mint: rgba(145, 245, 173, .75);
    --red: rgb(245, 145,173);
    --hover: rgb(230, 230, 230);

    --font-main: 'Poppins', sans-serif;
    --font-cursive: 'Caveat', cursive;

    --font-bold: 600;
    --font-thin: 400;

    --font-large: 35pt;
    --font-medium: 25pt;
    --font-normal: 14pt;
    --font-small: 10pt;



}


::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-track {
    opacity: 0%;
}

::-webkit-scrollbar-thumb {
    opacity: 0%;
}

h1 {
    font-family: var(--font-cursive);
    font-weight: var(--font-bold);
    font-size: var(--font-large);

}

.navbar {
    display: flex;
    justify-content: center;
    gap: 5em;
}

a{
    color: var(--black);
    
    text-decoration: none;
    font-family: var(--font-main);
    font-size: var(--font-normal);
    font-weight: 400;
    font-style: normal;
    
}
a:hover,
a:focus {
    color: rgb(100, 100,100);
    
    text-decoration: none;
    font-family: var(--font-main);
    font-size: var(--font-normal);
    font-weight: 400;
    font-style: normal;
}

.nav-item {
    border-radius: .5vh;
    

}

.nav-item:hover {
    border-radius: .5vh;
}


body {
    background-color: var(--bwhite);

}

.base {
    width: 100%;
    padding-left: 5rem;
    gap: 2rem;
    min-height: 45rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: var(--bwhite);
}

.content {
    height: inherit;
    min-width: 60rem;
}

.display-entry {
    width: 60rem;
    background-color: var(--bwhite);
    border-radius: 26px 0px 0px 26px;
    box-shadow: 0px 0px 30px -7px rgba(0,0,0,0.19);


}

.heart-checkbox {
    display: none;
    
}

.path {
    transition: fill 200ms, stroke 50ms, transform 100ms ease-out;

}
.favorite{
    border: none;
    position: relative;
    right: 10px;
   
}


.favorite:focus {
    all: unset;
    border: none;
    
    background-color: var(--hover);
    width: 50px;
    height: 100%;
    text-align: center;
}
#view-note{
    border: none;
    border-radius: 0 .5vh .5vh 0;
    background-color: var(--bwhite);
    text-align: center;
    min-width: 50px;
    height: 100%;
    transition: all 300ms ease-in;

}
.view-title{
    border-radius: 0 .5vh .5vh 0;
    text-align: center;
    min-width: 50px;
    font-family: var(--font-main);
    font-size: var(--font-large);
    font-weight: var(--font-bold);
}
.view-text-body{
    width: 700px;
    height: 600px;
    overflow-wrap:break-word;
    overflow-y: scroll;
    text-align: left;
    margin: 50px;
    font-family: var(--font-main);
    font-size: var(--font-medium);
    font-weight: var(--font-normal);

}
.view-date{
    border-radius: 0 .5vh .5vh 0;
    background-color: var(--bwhite);
    text-align: center;
    min-width: 50px;
    font-family: var(--font-main);
    font-size: var(--font-small);
    font-weight: var(--font-bold);
}

#view-note:hover {
    background-color: var(--mint);
}

#view-note:focus {
    all: unset;
    border: none;
    border-radius: 0 .5vh .5vh 0;
    background-color: var(--hover);
    width: 50px;
    height: 100%;
    text-align: center;
}
#view-note > button{
    width:100%;
    height: 100%;
}
svg {
    transition: all 150ms ease-out;
}


.heart-checkbox:checked+.shape>svg>.path {
    fill: red;
    opacity: 1;
    stroke: red;
    transform: scale(1.03, 1.03);
    transform-origin: center center;
}

.heart-checkbox:checked+.shape>svg {
    filter: drop-shadow(0 0 2px rgba(255, 0, 0, .8));
}



input {
    all: unset;
    margin: 5px;
}

input:focus {
    all: unset;
    background-color: var(--white);
    margin: 5px;

}

button:focus {
    all: unset;
}

button {
    all: unset;
}

/* main area of tabs */
.tab-list {
    z-index: 1;
    position: fixed;
    top: 1em;
    left: calc(100% - 5em);
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.tab-content {
    display: none;
    max-height: inherit;

}

.tab-content.is-active {
    display: block;
    max-height: inherit;

    position: inherit;
}


.tab {
    display: flex;
    background-color: var(--bwhite);
    margin: 1em 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: none;

    margin-top: 5px;
    justify-content: center;
    align-items: center;
    transition: all 300ms;

}

.tab:hover {
    background-color: var(--hover);
    transform: scale(1.1);
}

.tab>svg {
    width: 30px;
    height: 30px;

}

.tab.is-active {
    background-color: var(--mint);

}

.view {
    overflow: scroll;

    height: 45rem;
}

.note-list {
    overflow: scroll;
    max-height: inherit;
}

.list-element {
    grid-area: 1;
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: var(--bwhite);    
    box-shadow: 0px 0px 30px -7px rgba(0,0,0,0.19);
        padding-left: 1em;
    margin: 0em 2em 2em 0em;
    border-radius: .5vh;
    height: 100px;
    transition: all 300ms;

    
}
#mask{
    background-color: var(--white);
}
.list-element:before {
    top: -20px;
    left: 0;
    background-color: red;
    position: absolute;
    height: 25%;
    width: 5%;
    border-bottom-left-radius: 50%;
}

.list-element:hover {
    grid-area: 1;
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: var(--bwhite);
    padding-left: 1em;
    margin: 2em 2em 2em 0em;
    border-radius: .5vh;
    height: 100px;
    transform: scale(1.04);
}

.title {
    font-family: var(--font-main);
    font-weight: var(--font-thin);
    font-size: var(--font-large);
    white-space: nowrap;

}

.text-body {
    font-family: var(--font-main);
    font-weight: var(--font-thin);
    font-size: var(--font-small);
    white-space: nowrap;

}

.list-element-flex {
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 100%;

}
select{
    font-family: var(--font-main);
    font-weight: var(--font-thin);
    font-size: var(--font-small);
    box-shadow: 0px 0px 30px -7px rgba(0,0,0,0.19);
    border: none;
    margin: 3em;
    
}
select > option{
    font-family: var(--font-main);
    font-weight: var(--font-thin);
    font-size: var(--font-small);
    box-shadow: 0px 0px 30px -7px rgba(0,0,0,0.19);

    border: none;
}
.date {
    display: flex;
    border-right: 1px solid var(--black);
    height: 100%;
    min-width: 150px;
    max-width: 20%;
    font-family: var(--font-main);
    font-weight: var(--font-thin);
    font-size: var(--font-normal);
    justify-content: center;
    align-items: center;
    
}

.inherit{
   
    display: block;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: red;
}

.button-delete {
    border: none;
    background-color: var(--bwhite);
    text-align: center;
    min-width: 50px;
    height: 100%;
    transition: all 300ms ease-in;
}

.button-delete:hover {
    background-color: var(--red);

}

.button-delete:focus {
    all: unset;
    border: none;
    background-color: var(--hover);
    width: 50px;
    height: 100%;
    text-align: center;
}

#note {
    grid-area: a;
    font-size: var(--font-medium);
    font-weight: var(--font-normal);
    font-family: var(--font-main);
}

#date {
    grid-area: b;
    font-size: var(--font-small);
    font-weight: var(--font-normal);
    font-family: var(--font-main);
    padding-inline: 3px;
    width: 150px;

}

#body {
    grid-area: c;
    border-radius: .5vh;
    padding-inline: 3px;
    
}

.more{
    position: relative;
    left: 780px;
    width: 100%;
}



.input-grid {
    height: inherit;
    width: inherit;
    display: grid;
    border-radius: .5vh .5vh .5vh .5vh;

    grid-template-areas:
        "a"
        "b"
        "c";
    margin: 2em;
    box-shadow: 0px 0px 30px -7px rgba(0,0,0,0.19);
}

.form-100 {
    height: inherit;
    width: inherit;

}

.submit-button {
    
    border-radius: 50%;
    background-color: var(white);
    width: 50px;
    height: 50px;
    text-align: center;
    transition: all;
    transition-duration: 300ms;
}

.submit-button>svg {
    width: 35px;
    height: 35px;
}

.submit-button:hover {

    background-color: var(--mint);
    

}

.submit-button:focus {
    box-shadow: 0%;
    background-color: var(--hover);

}

.submit-active {
    display: block;
}

/* List Item Modal */

.modal {

    display: none;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    height: 20rem;
    min-width: 20rem;
}

dialog::backdrop {
    background-color: var(--white);
}

.display-modal {
    display: block;
}